body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:590px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:590px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:80px;
  width:330px;
  height:550px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:150px;
  width:330px;
  height:1px;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:104px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:2px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:225px;
  width:232px;
  height:1px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:200px;
  width:108px;
  height:19px;
  color:#999999;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:2px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:286px;
  width:232px;
  height:1px;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:261px;
  width:59px;
  height:19px;
  color:#999999;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:203px;
  width:25px;
  height:23px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:265px;
  width:25px;
  height:23px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:325px;
  width:170px;
  height:40px;
  color:#666666;
}
#u1633_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1633.mouseOver {
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:424px;
  width:70px;
  height:70px;
  color:#666666;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:424px;
  width:70px;
  height:70px;
  color:#666666;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:424px;
  width:70px;
  height:70px;
  color:#666666;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:383px;
  width:61px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:525px;
  width:270px;
  height:1px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:545px;
  width:270px;
  height:58px;
  color:#666666;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:383px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1642 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u1642_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background-image:none;
}
#u1642_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u1643_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1643.mouseOver {
}
#u1643_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1643.selected {
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:91px;
  word-wrap:break-word;
}
#u1644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:0px;
  width:95px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u1644_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1644.mouseOver {
}
#u1644_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1644.selected {
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:91px;
  word-wrap:break-word;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:95px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u1645_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1645.mouseOver {
}
#u1645_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1645.selected {
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:91px;
  word-wrap:break-word;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:95px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u1646_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1646.mouseOver {
}
#u1646_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1646.selected {
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:91px;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:10px;
  width:13px;
  height:14px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:10px;
  width:14px;
  height:14px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:8px;
  width:16px;
  height:16px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:10px;
  width:14px;
  height:14px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1653_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background-image:none;
}
#u1653_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:35px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:17px;
  width:28px;
  height:27px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
